*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #3498db, #ffa046);
  
}

.App{
  background: rgba(0, 0, 109, 0.308);
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(0, 10, 100);
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    
}

.buttonn{
  width: 5rem;
  height: 5rem;
  background: rgb(0, 10, 100);
  color: #ffffff; 
  border: solid 1px #ffffff;
  margin: 0.5rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 2rem;
  transition: 0.5s;
}

#DelBtn{
  width: 11rem;
  height: 5rem;
  background: red;
  transition: 0.5s;
}

#EqualBtn{
  width: 17rem;
  height: 5rem;
  background: rgb(255, 166, 0);
}

.buttonn:hover{
  background: rgb(255, 166, 0);  
}

#DelBtn:hover{
  background: rgb(0, 10, 100);
}

#EqualBtn:hover{
  background: rgb(0, 10, 100);
}